root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,hpp}]
indent_size = 4

[*.json]
indent_size = 4

[*.yaml]
indent_size = 4

[.clang{d,-tidy,-format}]
indent_size = 4
